/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: big-john;
    src: url(./assets/fonts/BigJohnPRO-Bold.otf);
    font-weight: bold;
}
@font-face{
    font-family: big-john;
    src: url(./assets/fonts/BigJohnPRO-Regular.otf);
    font-weight: normal
}
@font-face{
    font-family: big-john;
    src: url(./assets/fonts/BigJohnPRO-Light.otf);
    font-weight: lighter;
}

body {
    margin: 0;
    font-family: big-john;
}

ul {
    margin: 4px 0 4px 10px;
    padding: 0;
}

li {
    list-style: none;
}

h3 {
    margin: 15px 0 5px 0;
}