
.recipes-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background: white;
    font-family: big-john;
}

.recipe {
    display: flex;
    flex-direction: column;
    margin: 34px;
    padding: 0;
    max-width: 265px;
    height: 80%;
}

.recipe-figure {
    margin: 0;
    width: 260px;
    height: 260px;
}

.recipe-figure-img {
    width: 260px;
    height: 260px;

}

.recipe-titlebox {
    font-size: 10px;
}

.recipe-buttonbox-button {
    align-self: flex-end;
    background-color:#252a70;
    border: none;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:big-john;
    font-weight: normal;
	font-size:20px;
	padding:16px 76px;
	text-decoration:none;
    text-shadow:0px -2px 27px #283966;
    transition: 0.3s;
}
.recipe-buttonbox-button:hover {
    background-color:#476e9e;
}
.recipe-buttonbox-button:active {
	position:relative;
	top:1px;
}



